*{
    padding: 0px;
    margin: 0px;
}
.container {
    background-color: aquamarine;
}
.box {
    width: 250px;
    height: 250px;
    animation-name: circular-motion;
    position: relative;
    background-color: brown;
    animation-duration: 2s;
    animation: circular-motion  infinite linear;
}

/* @keyframes circular-motio {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 250px;
        left: 0px;
    }
    75%{
        top: 250px;
        left: 250px;
    }
    100%{
        top: 250px;
        left: 0px;
    }
} */
 @keyframes circular-motion  {
    0% {
        transform: rotate (360deg)
        translateX(100px) rotate(0deg)
    }
   100% {
    transform: rotate(360deg)
    translateX(100px) rotate(-360deg)
   } 
    
}